/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
*{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
  background: #303030;
}

a {
  color: #fff;
}

h3 {
  margin-top: 25px;
}

p {
  line-height: 1.3em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.special-date {

  .mat-calendar-body-cell-content {
    border: 1px solid #69f0ae;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page__title {
  padding: 5px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .12);

  .title {
    display: flex;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.center {
  text-align: center;
}

.mat-list {
  margin: 20px 0;

  &__item {
    margin-bottom: 8px;
    padding: 5px 15px;
    min-height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
                0px 2px 2px 0px rgb(0 0 0 / 14%),
                0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    transition: all .3s;
  }

  &__item-bg-grey{
    background: #424242;
  }

}
