<div class="exercise">
  <div class="page__title">
    <h4 class="title"> <a routerLink="/admin/exercises">Упражнения</a>
      <mat-icon aria-hidden="false">chevron_right</mat-icon>
      {{isNew ? 'Добавить': 'Редоктировать'}} упражнение
    </h4>
  </div>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form__wrapper">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Название упражнения</mat-label>
            <input type="text" matInput formControlName="name">

            <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                <span *ngIf="form.get('name')?.errors?.['required']">
                  Укажите Название упражнения
                </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Описание упражнения</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Техника выполнения </mat-label>
            <textarea matInput formControlName="technique"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Рекомендации </mat-label>
            <textarea matInput formControlName="recomend"></textarea>
          </mat-form-field>

          <div class="muscles__wrapper" formArrayName="muscles">
            <h5>Группа мышц*</h5>
            <p
              *ngFor="let muscle of musclesData; let i = index"
            >
              <mat-checkbox [formControlName]="i">{{muscle}}</mat-checkbox>
             </p>
          </div>
          <button
          class="btn-submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid "
          >Сохранить</button>
        </div>
    </form>
  </div>
</div>
