<div class="exercises">
  <div class="page__title">
    <h4 class="title">Упражнения</h4>
    <button  mat-raised-button
    color="primary" routerLink="new">Добавить упражнение</button>
  </div>
  <ng-container *ngIf="exercises$ | async as exercises; else loader">
    <div class="exercise__list" *ngIf="exercises.length !== 0; else empty">
      <a [routerLink]="exercise._id" class="exercise__item" *ngFor="let exercise of exercises">
          <span class="title">{{exercise.name}}</span>
      </a>
    </div>
    <ng-template #empty>
      <div class="center">
        <p>Список пользователей пустой</p>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
