.exercises {
  .page__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search {
    position: relative;

    &__block{
      width: 100%;
    }


    .btn-search {
      position: absolute;
      right: 0.75em;
      top: 8px;
      padding: 10px;
      border: 0;
      background: none;
      color: #fff;
      cursor: pointer;
    }
  }
}
