.training {

  &__wrapper {
    display: flex;
  }

  &__main {
    flex: 1 0 auto;
    padding: 20px 16px;

    &__content {
      margin-top: 25px;
      padding: 20px;
      background: rgba(255, 255, 255, 0.01);
      border: 0.5px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
    }
  }

  &__toolbar {
    margin-bottom: 16px;

    .clear {
      margin-left: 8px;
    }
  }

  &__right-column {
    flex: 0 0 350px;
  }
}

.btn-block {
  margin-bottom: 20px;
}

.btn-remove-exercise {
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .training {
    &__main {
      flex: auto;
    }
  }
}
