<div class="training">
  <div class="page__title">
    <h2>Расписание тренировок</h2>
  </div>
  <div *ngIf="!loading; else loader">
    <div class="training__wrapper">
      <div class="training__main">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="training__toolbar">
            <button mat-flat-button color="primary"
              [disabled]="form.invalid || form.disabled"
            >Сохранить изминения
            </button>
            <button
              class="clear"
              mat-flat-button
              color="warn"
              type="button"
              (click)="refreshForm()"
              [disabled]="form.disabled"
            >Сбросить все изминения</button>
          </div>
          <mat-divider></mat-divider>
          <div
            class="training__main__content"
            formArrayName="trainings"
          >
            <ng-container
              [formGroupName]="ti"
              *ngIf="selectTraining;else empty"
            >
              <div class="btn-block">
                <button-add-exercise-modal
                  class="btn-add-exercise"
                  (addEvent)="addExercise(ti,$event)"
                >
                </button-add-exercise-modal>
                <button
                  class="btn-remove-exercise"
                  mat-raised-button
                  color="warn"
                  type="button"
                  (click)="removeExercises(ti)"
                >
                  <mat-icon>delete</mat-icon> Удалить все упражнения
                </button>
              </div>
              <app-exercises-form-array
                formArrayName="exercises"
                [trainingIndex]="ti"
                [itemsFormArray]="getExercises(ti)"
                [exercises]="trainingsData[ti]?.exercises"
              >
              </app-exercises-form-array>
            </ng-container>
          </div>
          <ng-template #empty>
            <div class="center">
              <p>Список тренировок пустой</p>
              <button
                mat-raised-button
                color="primary"
                type="button"
                (click)="addTraining()"
              >Создать тренировку</button>
            </div>
          </ng-template>
        </form>
      </div>
      <div class="training__right-column">
        <div class="accordion-content">
          <app-calendar
            [selectDate]="selectDate"
            [dateClass]="dateClass()"
            (selectedChange)="onSelectDate($event)"
          ></app-calendar>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
