<mat-toolbar>
    <header class="header">
        <div class="logo">
            <h2>Traning dairy</h2>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a 
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    mat-button
                    >Главная</a></li>
                <li><a 
                    routerLink="/account"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    mat-button
                    >Аккаунт</a>
                </li>
                <li>
                    <a
                    *ngIf="!isLoggedIn"
                    routerLink="/registration"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    mat-button
                    >Регистрация</a>
                </li>
                <li>
                    <a *ngIf="!isLoggedIn;else logoutTemplate" 
                    mat-raised-button 
                    color="primary" 
                    routerLink="/login"
                    >Вход</a>
                    <ng-template #logoutTemplate> 
                        <a mat-raised-button color="primary" (click)="logout()">Выход</a>
                    </ng-template> 
                </li>
            </ul>
        </nav>
    </header>
</mat-toolbar>