<div
  class="mat-list"
  *ngIf="exercises?.length !== 0; else empty"
>
  <div
    class="mat-list__item exercise__item mat-list__item-bg-grey"
    *ngFor="let exercise of exercises; trackBy: trackExercise"
  >
    <a
      [routerLink]="exercise._id">
      <span class="title">{{exercise.name}}</span>
    </a>

    <button
      *ngIf="edit"
      type="button"
      mat-raised-button
      color="warn"
      (click)="onDelete(exercise)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<ng-template #empty>
  <div class="center">
    <p>Список упражнений пустой</p>
  </div>
</ng-template>
