<nav class="left-menu">
    <ul class="left-menu__list">
        <li class="left-menu__item">
            <a
                mat-button
                class="left-menu__link"
                routerLink="/admin/training/new"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
            >
                Создать тренировку
            </a>
        </li>
        <li class="left-menu__item">
                <a mat-button
                class="left-menu__link"
                routerLink="/admin/training/progress"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
            >
                Прогресс тренировок
            </a>
        </li>
        <li class="left-menu__item">
                <a mat-button
                class="left-menu__link"
                routerLink="/admin/users"
                routerLinkActive="active"
            >
                Список клиентов
            </a>
        </li>
        <li class="left-menu__item">
            <a mat-button class="left-menu__link">
                Редактировать профиль
            </a>
        </li>
    </ul>
</nav>
